* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
  }
  :root {
    --ff-montserrat: "Montserrat", sans-serif;
    --ff-source-serif-4: "Source Serif 4", serif;
    --c-yellow-primary: #d2a234;
    --c-yellow-secondary: #FFE29F;
    --c-grey-primary: orange;
}
  body {
    height: 100vh;
    background-image: url('https://maikron.org/images/hero-bg.jpg');
    background-size: cover;
  }

  /* Estilos para el logo */
.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.logo img {
  /*margin-top: 30px;*/
  width: 110px; /* Ajusta el ancho según sea necesario */
  height: auto; /* Ajusta la altura automáticamente */
  margin-right: 10px; /* Ajusta el margen derecho si es necesario */
}

  
  li {
    text-decoration: none;
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
  }
  
  a:hover {
    color: var(--c-yellow-primary);
  }
  
  /*header*/
  
  header {
    position: relative;
    padding: 0 2rem;
    margin-top: 20px;
  }
  
  .navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .navbar .links {
    display: flex;
    gap: 2rem;
  }
  
  .navbar .toggle_btn {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
  }
  
  .action_btn {
    background-color: var(--c-yellow-primary);
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
  }
  
  .action_btn:hover {
    scale: 1.05;
    color: #fff;
  }
  
  .action_btn:active {
    scale: 0.95;
  }
  
  /*dropdown*/
  
  .dropdown_menu {
    margin-top: 40px;
    display: none;
    position: fixed;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 1000;
  }
  
  .dropdown_menu.open {
    height: 340px;
  }
  
  .dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  /*RESPONSIVE*/
  
  @media (max-width: 992px) {
    .navbar .links,
    .navbar .action_btn {
      display: none;
    }
  
    .navbar .toggle_btn {
      display: block;
    }
  
    .dropdown_menu {
      display: block;
    }
  }
  
  @media (max-width: 992px) {
    .dropdown_menu {
      left: 2rem;
      width: unset;
    }
  }
  